.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  color: white;
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    gap: 20px;

    button {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 5px;
      color: rgb(98, 98, 98);
      padding: 8px 15px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: white;
        color: #000000;
      }
    }
  }
}

.landing-content {
  display: flex;
  text-align: left;
  margin-top: 50px;
  margin: 100px;
  justify-content: space-between;

  h1 {
    font-size: 2.5rem;
    color: #000000;
  }

  p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgb(98, 98, 98);
  }

  button {
    background-color: #168BD9;
    border-radius: 30%;
    padding: 10px 20px;
    color: #ffffff;
    border-color: #ffffff;
  }
}

.landing-content2 {
  display: flex;
  text-align: left;
  margin: 130px;

  h1 {
    font-size: 2.5rem;
    color: #000000;
  }

  p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgb(98, 98, 98);
  }

  button {
    color: #168BD9;
    border-radius: 30%;
    padding: 10px 20px;
    border-color: #168BD9;
    background-color: #ffffff;
  }
  
  .card {
    text-align: left;
    margin: 50px;
    box-shadow: #000000;
    border-radius: 10%;
  
    h3 {
      font-size: 1.7rem;
      color: #000000;
    }
  
  }
}

.landing-content3 {
  text-align: center;
  margin: 130px;

  h1 {
    font-size: 2.5rem;
    color: #000000;
  }

  p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgb(98, 98, 98);
  }

  button {
    color: #168BD9;
    border-radius: 30%;
    padding: 20%;
    border-color: #168BD9;
    fill: #ffffff;

  }
}

