.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  color: white;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #168BD9;
  }

  .nav-links {
    display: flex;
    gap: 20px;

    button {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 5px;
      color: rgb(98, 98, 98);
      padding: 8px 15px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: white;
        color: #000000;
      }
    }
  }
}

.landing-content {
  display: flex;
  text-align: left;
  margin-top: 50px;
  margin: 100px;
  justify-content: space-between;

  h1 {
    font-size: 2.5rem;
    color: #000000;
  }

  p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgb(98, 98, 98);
  }

  .login-boton{
    background-color: #168BD9;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 130px;
    margin-top: 50px;
  }



}

.landing-content2 {
  display: flex;
  text-align: left;
  margin: 130px;

  h1 {
    font-size: 2.5rem;
    color: #000000;
  }

  p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgb(98, 98, 98);
  }

  button {
    color: #168BD9;

    border-color: #168BD9;
    background-color: #ffffff;
  }

  .card {
    text-align: left;
    margin: 50px;
    box-shadow: inset 1px 1px 10px #000000;
    border-radius: 10%;
    border: solid #cdcdcd 1px;
    padding: 20px;
    width: 30%;

    h3 {
      font-size: 1.7rem;
      color: #000000;
    }

  }
}

.landing-content3 {
  text-align: center;
  margin: 130px;

  h1 {
    font-size: 2.5rem;
    color: #000000;
  }

  p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgb(98, 98, 98);
  }

  button {
    color: #168BD9;
    border-radius: 30%;
    padding: 20%;
    border-color: #168BD9;
    fill: #ffffff;

  }
}
.bot-boton{
  background-color: #ffffff;
  border: solid 1px #168BD9;
  border-radius: 20px;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 150px;
}

.p, .p2{
  width: 80%;
}

.imgDiv{
  margin-right: 20px;
}

.p2{
  margin: 0 auto;
}

.footer{
  background: linear-gradient(90deg, #67C3F3 0%, #5A98F2 100%);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.f1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.f1 p{
  width: 80%;
}

.f2Sup{
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}

.f21, .f22{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 30px;
  margin-top: 15px;
}

.footer span{
  font-weight: bolder;
}

.f2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.f2 span{
  margin-bottom: 10px;
}

