<div class="header">
  <div class="title">MediHelp</div>
  <div class="active-tab">{{ activeTab | titlecase }}</div>
  <div class="user-info">
    <img src="../../assets/images/istockphoto-2077095666-612x612.jpg" alt="User Image" class="user-image" />
    <div *ngIf="user">
      <span>{{ user.name }}</span>
      <br>
      <span>{{ user.specialization }}</span>
    </div>
    <button class="logout-button" (click)="toggleLogoutOptions()">▼</button>
    <div *ngIf="showLogoutOptions" class="logout-options">
      <button (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="side-panel">
    <div class="tabs" (click)="setActiveTab('general')" >
      <img src="../../assets/images/squares-2x2.svg" alt="Patient Image" class="patient-image"  />
      <button [class.active]="activeTab === 'general'">General</button>
    </div>
    <div class="tabs" (click)="setActiveTab('pacients')" >
      <img src="../../assets/images/Union.svg" alt="Patient Image" class="patient-image" />
      <button [class.active]="activeTab === 'pacients'">Pacientes</button>
    </div>
  </div>

  <div class="main-content">
    <!-- General Tab -->
    <div *ngIf="activeTab === 'general'" class="general-tab">
      <h2>Agenda</h2>
      <button class="a" (click)="openAddAppointmentForm()">Agendar Cita  <strong>+</strong></button>
      <div class="flex-general">
        <ul>
          <tr *ngFor="let appointment of appointments">
            <div class="agenda-content">
              <div class="first">
                <strong>{{ appointment.name }} {{ appointment.surname }}</strong> <br />
                {{ appointment.type }} <br />
              </div>
              <div class="second">
                {{ appointment.context }} <br />
              </div>
              <div class="third">
                <img src="../../assets/images/calendar.svg"/>
                {{ appointment.date.toDate() | date: 'medium' }}
              </div>
            </div>
          </tr>
        </ul>
        <div class="total-patients">
          <img src="../../assets/images/FramePacientes.svg" alt="Patient Image" class="patient-image" />
          <p>Pacientes: {{ totalPatients }}</p>
        </div>
      </div>
    </div>

    <!-- Appointment Form -->
    <div *ngIf="showAddAppointmentForm">
      <div class="modal-overlay" (click)="closeAddAppointmentForm()"></div>
      <div class="modal">
        <div class="modal-content">
          <h3>Agregar Cita</h3>
          <form (ngSubmit)="addAppointment()">
            <label for="name">Nombres:</label>
            <input id="name" [(ngModel)]="newAppointment.name" name="name" required />

            <label for="surname">Apellidos:</label>
            <input id="surname" [(ngModel)]="newAppointment.surname" name="surname" required />

            <label for="id">Cédula:</label>
            <input id="id" [(ngModel)]="newAppointment.id" name="id" required />

            <label for="type">Tipo:</label>
            <input id="type" [(ngModel)]="newAppointment.type" name="type" required />

            <label for="context">Contexto:</label>
            <textarea id="context" [(ngModel)]="newAppointment.context" name="context" required></textarea>

            <label for="email">Email:</label>
            <input id="email" [(ngModel)]="newAppointment.email" name="email" type="email" required />

            <label for="date">Fecha:</label>
            <input id="date" [(ngModel)]="newAppointment.date" name="date" type="date" required />

            <div class="button-group">
              <button type="submit" class="btn-primary">Guardar</button>
              <button type="button" class="btn-secondary" (click)="closeAddAppointmentForm()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- Patients Tab -->
    <div *ngIf="activeTab === 'pacients'" class="pacients-tab">
      <h2>Lista de Pacientes</h2>
      <button class="a" (click)="openAddPatientForm()">Agregar Paciente <strong>+</strong></button>
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Area</th>
            <th>Cédula</th>
            <th>Estado</th>
            <th>Proxima Cita</th>
            <th>      </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>{{ patient.date.toDate() | date: 'medium' }}</td>
            <td>{{ patient.name }} {{ patient.surname }}</td>
            <td>{{ patient.area }}</td>
            <td>{{ patient.id }}</td>
            <td>
              <select class="sb" [(ngModel)]="patient.status" (change)="updatePatientStatus(patient)">
                <option value="En atencion">En atencion</option>
                <option value="Atendido">Atendido</option>
              </select>
            </td>
            <td>
              <input class="dc" type="date" [(ngModel)]="patient.nextAppointment" (change)="updateNextAppointment(patient)" />
            </td>
            <td>
              <button class="b" (click)="viewPatientProfile(patient)">Ver Perfil</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="showAddPatientForm">
      <div class="modal-overlay" (click)="closeAddPatientForm()"></div>
      <div class="modal">
        <div class="modal-content">
          <h3>Agregar Paciente</h3>
          <form (ngSubmit)="addNewPatient()">
            <label for="patient-name">Nombres:</label>
            <input id="patient-name" [(ngModel)]="newPatient.name" name="name" required />

            <label for="patient-surname">Apellidos:</label>
            <input id="patient-surname" [(ngModel)]="newPatient.surname" name="surname" required />

            <label for="patient-id">Cédula:</label>
            <input id="patient-id" [(ngModel)]="newPatient.id" name="id" required />

            <label for="patient-sex">Sexo:</label>
            <input id="patient-sex" [(ngModel)]="newPatient.sex" name="sex" required />

            <label for="patient-birthdate">Fecha de Nacimiento:</label>
            <input id="patient-birthdate" [(ngModel)]="newPatient.birthdate" name="birthdate" type="date" required />

            <label for="patient-area">Área:</label>
            <input id="patient-area" [(ngModel)]="newPatient.area" name="area" required />

            <label for="patient-email">Correo Electrónico:</label>
            <input id="patient-email" [(ngModel)]="newPatient.email" name="email" type="email" required />

            <label for="patient-phone">Teléfono:</label>
            <input id="patient-phone" [(ngModel)]="newPatient.phone" name="phone" required />

            <label for="patient-address">Dirección:</label>
            <textarea id="patient-address" [(ngModel)]="newPatient.address" name="address" required></textarea>

            <div class="button-group">
              <button type="submit" class="btn-primary">Guardar</button>
              <button type="button" class="btn-secondary" (click)="closeAddPatientForm()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- Patient Profile Tab -->
    <div *ngIf="activeTab === 'profile'" class="profile-tab">
      <h2>Perfil de Paciente</h2>
      <div class="profile-container">
        <div class="profile-left">
          <img src="../../assets/images/patient.jpg" alt="Patient Image" class="patient-image" />
          <h3>{{ selectedPatient?.name }} {{ selectedPatient?.surname }}</h3>
        </div>
        <div class="profile-right">
          <p><strong>Sexo:</strong> {{ selectedPatient?.sex }}</p>
          <p><strong>Edad:</strong> {{ calculateAge(selectedPatient?.birthdate) }}</p>
        </div>
      </div>
      <div class="profile-details">
        <table>
          <thead>
            <tr>
              <th>Cédula</th>
              <th>Número</th>
              <th>Dirección</th>
              <th>Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>{{ selectedPatient?.id }}</strong></td>
              <td><strong>{{ selectedPatient?.phone }}</strong></td>
              <td><strong>{{ selectedPatient?.address }}</strong></td>
              <td><strong>{{ selectedPatient?.email }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Historia Clinica Section -->
      <div class="historia-clinica">
        <h3>Historia Clínica</h3>
        <div class="informacion-general">
          <h4>Información General</h4>
          <p><strong>Diagnóstico:</strong> {{ medicalRecord?.diagnostico }}</p>
          <p><strong>Código CIE:</strong> {{ medicalRecord?.codigo_cie }}</p>
        </div>
        <div class="receta-indicaciones">
          <h4>Receta e Indicaciones</h4>
          <ul>
            <li *ngFor="let medicamento of medicalRecord?.medicamentos">
              <strong>{{ medicamento.nombre }}</strong> ({{ medicamento.tipo }}) - {{ medicamento.cantidad }}
            </li>
          </ul>
          <p>{{ medicalRecord?.indicaciones }}</p>
        </div>
        <div class="opciones-quirurgicas">
          <h4>Opciones Quirúrgicas</h4>
          <p>{{ medicalRecord?.opciones_quirurgicas }}</p>
        </div>
      </div>
    </div>

        <!-- File Upload (Cloud Run Service / Outdated)-->
         <!--
        <div>
          <input type="file" (change)="onFileSelected($event)" />
          <button (click)="uploadFile()">Subir</button>
          <button *ngIf="extractedData" (click)="saveExtractedData()">Guardar</button>
        </div>
        <div *ngIf="extractedData">
          <h3>Extracted Data:</h3>
          <pre>{{ extractedData | json }}</pre>
        </div>
      </div>
    </div>
    -->
  </div>
</div>
