/* Updated CSS for the Dashboard Component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #333;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #168BD9;
    cursor: pointer;
  }

  .active-tab {
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }

  .user-info {
    display: flex;
    align-items: center;
    position: relative;

    .user-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
      border: 2px solid #168BD9;
    }

    span {
      font-size: 14px;
      color: #333;
      margin-right: 10px;
    }

    .logout-button {
      background: none;
      border: none;
      color: #168BD9;
      cursor: pointer;
      font-size: 16px;
    }

    .logout-options {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #fff;
      color: #333;
      border: 1px solid #ccc;
      padding: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

      button {
        background: none;
        border: none;
        color: #168BD9;
        cursor: pointer;
        font-size: 14px;
        text-align: left;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.dashboard {
  display: flex;
  height: 100vh;
  background-color: #e9f7fc;
  font-family: 'Arial', sans-serif;

  .side-panel {
    width: 220px;
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    padding: 20px;

    .tabs {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 8px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2cd8ff35;
      }

      &.active {
        background-color: #168BD9;
        color: #fff;
      }

      img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      button {
        background: none;
        border: none;
        font-size: 16px;
        font-weight: bold;
        color: inherit;
        cursor: pointer;
      }
    }
  }

  .main-content {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    /* Overlay to darken the background */
      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        z-index: 999; /* Below the modal but above other content */
      }

      /* Modal styles (unchanged) */
      .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 600px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        z-index: 1000; /* Above the overlay */
        padding: 20px;
        overflow-y: auto; /* Habilitar scroll cuando sea necesario */
        max-height: 80vh; /* Ajustar el alto máximo según el tamaño de la ventana */
      }

      .modal-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px;
      }

    .modal-content h3{
      color: #168BD9;
    }

      label {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 8px;
      }

      input,
      textarea {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #168BD9;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      textarea {
        resize: vertical;
        min-height: 100px;
      }

      .button-group {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
      }

      .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 16px;
        border-radius: 4px;
        cursor: pointer;
      }

      .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        border: none;
        padding: 10px 16px;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        opacity: 0.9;
      }



    .general-tab {
      h2 {
        color: #168BD9;
        margin-bottom: 20px;
      }

      .flex-general {
        display: flex;
        gap: 20px;


        .agenda-content {
          display: flex;
          background-color: #f9f9f9;
          border-radius: 8px;
          padding: 15px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          gap: 20px;
          justify-content: space-between;
          margin-bottom: 20px;

          .first {
            font-size: 14px;
            color: #168BD9;

            strong {
              color: #000;
              font-size: 16px;
            }
          }

          .second{
            font-size: small;
            width: 200px;
            text-align: left;
          }

          .third {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }

        .total-patients {
          flex: 1;
          background-color: #f9f9f9;
          text-align: center;
          padding: 15px;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          height: 80px;

          img {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
          }

          p {
            font-size: medium;
            color: #168BD9;
            font-weight: bold;
          }
        }
      }
    }

    .pacients-tab {
      h2 {
        color: #168BD9;
        margin-bottom: 20px;
      }

      button{
        margin: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          background-color: #f5f5f5;

          th {
            font-size: 14px;
            color: #168BD9;
            text-align: left;
            padding: 10px;
          }
        }

        tbody {
          tr {
            &:hover {
              background-color: #f0f8ff;
            }

            td {
              padding: 10px;
              font-size: 14px;
              color: #333;
            }
          }
        }
      }
    }

    .profile-tab {
      .profile-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .profile-left {
          text-align: center;
          display: flex;
          gap: 20px;

          h3 {
            margin-top: 35px;
          }

          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 10px;
          }
        }

        .profile-right {
          display: flex;
          font-size: 14px;
          color: #555;
          gap: 40px;
          margin: 20px;

          p {
            margin-top: 20px;
          }
        }
      }

      table {
        width: 100%;
        border-collapse: collapse;
        justify-content: space-between;
        margin-bottom: 20px;

        thead {
          background-color: #FAFBFC;

          th {
            font-size: 14px;
            color: #94A3B8;
            text-align: center;
            padding: 10px;
          }
        }

        tbody {
          tr {
            td {
              padding: 10px;
              font-size: 14px;
              color: #333;
              background-color: #FAFBFC;
              text-align: center;
            }
          }
        }
      }

      .historia-clinica {
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


        h3 {
          color: #168BD9;
          margin-bottom: 10px;
        }

        p, ul {
          font-size: 14px;
          color: #555;
        }
      }
    }
  }
  .a{
    padding: 10px;
    border-radius: 10px;
    background-color: #168BD9;
    color: white;
    cursor: pointer;
    margin-left: 40px;
  }

  .sb{
    border-radius: 8px;
    padding: 5px;
    border: solid #168BD9 1px;
    cursor: pointer;
  }

  .b{
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: #168BD9;
    cursor: pointer;
  }
  .dc{
    cursor: pointer;
  }
}
