<div class="header">
  <div class="title">MediHelp</div>
  <div class="active-tab">{{ activeTab | titlecase }}</div>
  <div class="user-info">
    <img src="../../assets/images/istockphoto-2077095666-612x612.jpg" alt="User Image" class="user-image" />
    <div *ngIf="user">
      <span>{{ user.name }}</span>
      <br>
      <span>{{ user.specialization }}</span>
    </div>
    <button class="logout-button" (click)="toggleLogoutOptions()">▼</button>
    <div *ngIf="showLogoutOptions" class="logout-options">
      <button (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="side-panel">
    <div class="tabs">
      <img src="../../assets/images/squares-2x2.svg" alt="Patient Image" class="patient-image" />
      <button [class.active]="activeTab === 'general'" (click)="setActiveTab('general')">General</button>
    </div>
    <div class="tabs">
      <img src="../../assets/images/Union.svg" alt="Patient Image" class="patient-image" />
      <button [class.active]="activeTab === 'pacients'" (click)="setActiveTab('pacients')">Pacientes</button>
    </div>
  </div>

  <div class="main-content">
    <!-- General Tab -->
    <div *ngIf="activeTab === 'general'" class="general-tab">
      <h3>Agenda</h3>
      <button (click)="setActiveTab('appointments')"><strong>+</strong></button>
      <div class="flex-general">
        <ul>
          <tr *ngFor="let appointment of appointments">
            <div class="agenda-content">
              <div class="first">
                <strong>{{ appointment.name }} {{ appointment.surname }}</strong> <br />
                {{ appointment.type }} <br />
              </div>
              <div class="second">
                {{ appointment.context }} <br />
              </div>
              <div class="third">
                <img src="../../assets/images/calendar.svg"/>
                {{ appointment.date.toDate() | date: 'medium' }}
              </div>
            </div>
          </tr>
        </ul>
        <div class="total-patients">
          <img src="../../assets/images/FramePacientes.svg" alt="Patient Image" class="patient-image" />
          <p>Pacientes: {{ totalPatients }}</p>
        </div>
      </div>
    </div>

    <!-- Appointment Form -->
    <div *ngIf="activeTab === 'appointments'" class="appointments-tab">
      <h2>Manage Appointments</h2>
    
      <!-- Appointment Form -->
      <form (ngSubmit)="addAppointment()">
        <label>Nombres: <input [(ngModel)]="newAppointment.name" name="name" required /></label>
        <label>Apellidos: <input [(ngModel)]="newAppointment.surname" name="surname" required /></label>
        <label>Cédula: <input [(ngModel)]="newAppointment.id" name="id" required /></label>
        <label>Context: <input [(ngModel)]="newAppointment.context" name="context" required /></label>
        <label>Email: <input [(ngModel)]="newAppointment.email" name="email" required /></label>
        <label>Date: <input [(ngModel)]="newAppointment.date" name="date" type="date" required /></label>
        <button type="submit">Add Appointment</button>
      </form>
    </div>

    <!-- Appointment Form Modal -->
    <div *ngIf="activeTab === 'showAddAppointmentForm'" class="modal">
      <div class="modal-content">
        <h3>Add Appointment</h3>
        <form (ngSubmit)="addAppointment()">
          <label>Name: <input [(ngModel)]="newAppointment.name" name="name" required /></label>
          <label>Surname: <input [(ngModel)]="newAppointment.surname" name="surname" required /></label>
          <label>ID: <input [(ngModel)]="newAppointment.id" name="id" required /></label>
          <label>Type: <input [(ngModel)]="newAppointment.type" name="type" required /></label>
          <label>Context: <input [(ngModel)]="newAppointment.context" name="context" required /></label>
          <label>Email: <input [(ngModel)]="newAppointment.email" name="email" required /></label>
          <button type="submit">Save</button>
          <button type="button" (click)="closeAddAppointmentForm()">Cancel</button>
        </form>
      </div>
    </div>

    <!-- Patients Tab -->
    <div *ngIf="activeTab === 'pacients'" class="pacients-tab">
      <h2>Lista de Pacientes</h2>
      <button (click)="openAddPatientForm()">Add New Patient</button>
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Area</th>
            <th>Cédula</th>
            <th>Estado</th>
            <th>Proxima Cita</th>
            <th>      </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>{{ patient.date.toDate() | date: 'medium' }}</td>
            <td>{{ patient.name }} {{ patient.surname }}</td>
            <td>{{ patient.area }}</td>
            <td>{{ patient.id }}</td>
            <td>
              <select [(ngModel)]="patient.status" (change)="updatePatientStatus(patient)">
                <option value="En atencion">En atencion</option>
                <option value="Atendido">Atendido</option>
              </select>
            </td>
            <td>
              <input type="date" [(ngModel)]="patient.nextAppointment" (change)="updateNextAppointment(patient)" />
            </td>
            <td>
              <button (click)="viewPatientProfile(patient)">Ver Perfil</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="showAddPatientForm" class="add-patient-form">
      <h3>Añadir Paciente</h3>
      <form (ngSubmit)="addNewPatient()">
        <label>Nombres: <input [(ngModel)]="newPatient.name" name="name" required /></label>
        <label>Apellidos: <input [(ngModel)]="newPatient.surname" name="name" required /></label>
        <label>ID: <input [(ngModel)]="newPatient.id" name="id" required /></label>
        <label>Sex: <input [(ngModel)]="newPatient.sex" name="sex" required /></label>
        <label>Birthdate: <input [(ngModel)]="newPatient.birthdate" name="birthdate" type="date" required /></label>
        <label>Area: <input [(ngModel)]="newPatient.area" name="area" required /></label>
        <label>Email: <input [(ngModel)]="newPatient.email" name="email" required /></label>
        <label>Phone: <input [(ngModel)]="newPatient.phone" name="phone" required /></label>
        <label>Address: <input [(ngModel)]="newPatient.address" name="address" required /></label>
        <button type="submit">Guardar</button>
        <button type="button" (click)="closeAddPatientForm()">Cancelar</button>
      </form>
    </div>

    <!-- Patient Profile Tab -->
    <div *ngIf="activeTab === 'profile'" class="profile-tab">
      <h2>Perfil de Paciente</h2>
      <div class="profile-container">
        <div class="profile-left">
          <img src="../../assets/images/patient.jpg" alt="Patient Image" class="patient-image" />
          <h3>{{ selectedPatient?.name }} {{ selectedPatient?.surname }}</h3>
        </div>
        <div class="profile-right">
          <p><strong>Sexo:</strong> {{ selectedPatient?.sex }}</p>
          <p><strong>Edad:</strong> {{ calculateAge(selectedPatient?.birthdate) }}</p>
        </div>
      </div>
      <div class="profile-details">
        <table>
          <thead>
            <tr>
              <th>Cédula</th>
              <th>Número</th>
              <th>Dirección</th>
              <th>Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>{{ selectedPatient?.id }}</strong></td>
              <td><strong>{{ selectedPatient?.phone }}</strong></td>
              <td><strong>{{ selectedPatient?.address }}</strong></td>
              <td><strong>{{ selectedPatient?.email }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Historia Clinica Section -->
      <div class="historia-clinica">
        <h3>Historia Clínica</h3>
        <div class="informacion-general">
          <h4>Información General</h4>
          <p><strong>Diagnóstico:</strong> {{ medicalRecord?.diagnostico }}</p>
          <p><strong>Código CIE:</strong> {{ medicalRecord?.codigo_cie }}</p>
        </div>
        <div class="receta-indicaciones">
          <h4>Receta e Indicaciones</h4>
          <ul>
            <li *ngFor="let medicamento of medicalRecord?.medicamentos">
              <strong>{{ medicamento.nombre }}</strong> ({{ medicamento.tipo }}) - {{ medicamento.cantidad }}
            </li>
          </ul>
          <p>{{ medicalRecord?.indicaciones }}</p>
        </div>
        <div class="opciones-quirurgicas">
          <h4>Opciones Quirúrgicas</h4>
          <p>{{ medicalRecord?.opciones_quirurgicas }}</p>
        </div>
      </div>
    </div>
    
        <!-- File Upload (to be fixed)-->
         <!-- 
        <div>
          <input type="file" (change)="onFileSelected($event)" />
          <button (click)="uploadFile()">Subir</button>
          <button *ngIf="extractedData" (click)="saveExtractedData()">Guardar</button>
        </div>
        <div *ngIf="extractedData">
          <h3>Extracted Data:</h3>
          <pre>{{ extractedData | json }}</pre>
        </div>        
      </div>
    </div>
    -->
  </div>
</div>
